#login-page {
  margin-top: 10%;
  text-align: center;
  background-color: slategray;
  border: 1px solid white;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 50px; }
  #login-page .col-md-12 {
    margin-bottom: 20px; }
    #login-page .col-md-12 h3 {
      color: white; }
  #login-page .login-label {
    height: 40px;
    line-height: 30px;
    color: white;
    text-align: right;
    font-weight: bold;
    padding-right: 0; }
  #login-page .login-button {
    text-align: center; }
  #login-page #email-input,
  #login-page #pword-input {
    width: 100%;
    height: 30px;
    padding: 5px; }

.color-theme #all-filter {
  background-color: #F26161; }

.color-theme #all-filter:hover,
.color-theme #all-filter.active-filter {
  background-color: #7D1F3D; }

.color-theme #movie-filter {
  background-color: #FEE898; }

.color-theme #movie-filter:hover,
.color-theme #movie-filter.active-filter {
  background-color: #AC7A2A; }

.color-theme #show-filter {
  background-color: #FBDEEB; }

.color-theme #show-filter:hover,
.color-theme #show-filter.active-filter {
  background-color: #A44F6C; }

.color-theme #music-filter {
  background-color: #C4E5D4; }

.color-theme #music-filter:hover,
.color-theme #music-filter.active-filter {
  background-color: #1B5056; }

.color-theme #book-filter {
  background-color: #C5DEF3; }

.color-theme #book-filter:hover,
.color-theme #book-filter.active-filter {
  background-color: #355688; }

.color-theme #game-filter {
  background-color: #CFD2E9; }

.color-theme #game-filter:hover,
.color-theme #game-filter.active-filter {
  background-color: #6A3872; }

.color-theme .book-item {
  background-color: #C5DEF3; }

.color-theme .show-item {
  background-color: #FBDEEB; }

.color-theme .movie-item {
  background-color: #FEE898; }

.color-theme .music-item {
  background-color: #C4E5D4; }

.color-theme .game-item {
  background-color: #CFD2E9; }

.gray-theme #all-filter,
.gray-theme #movie-filter,
.gray-theme #show-filter,
.gray-theme #music-filter,
.gray-theme #book-filter,
.gray-theme #game-filter {
  background-color: lightgray; }

.gray-theme #all-filter:hover,
.gray-theme #movie-filter:hover,
.gray-theme #show-filter:hover,
.gray-theme #music-filter:hover,
.gray-theme #book-filter:hover,
.gray-theme #game-filter:hover,
.gray-theme #all-filter.active-filter,
.gray-theme #movie-filter.active-filter,
.gray-theme #show-filter.active-filter,
.gray-theme #music-filter.active-filter,
.gray-theme #book-filter.active-filter,
.gray-theme #game-filter.active-filter {
  background-color: slategray; }

.gray-theme .list-item:nth-child(odd) {
  background-color: #f2efe8; }

.gray-theme .list-item:nth-child(even) {
  background-color: lightgray; }

.list-filters {
  margin-bottom: 10px;
  text-align: center; }
  .list-filters div {
    height: 25px;
    line-height: 23px; }

.media-filters {
  text-align: center;
  color: black;
  font-weight: bold; }
  .media-filters div {
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    line-height: 40px; }
  .media-filters div:hover {
    color: white; }

.active-filter {
  color: white; }

#backlog-button,
#finished-button,
#bw-button,
#color-button {
  border: 1px solid white;
  font-weight: bold; }

#backlog-button {
  color: black;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

#backlog-button:hover,
#backlog-button.active-filter {
  color: white;
  background-color: slategray; }

#finished-button {
  color: black;
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

#finished-button:hover,
#finished-button.active-filter {
  color: white;
  background-color: slategray; }

#search-box,
#theme-label {
  text-align: right;
  font-weight: bold;
  padding-right: 5px; }

#bw-button {
  color: black;
  background-color: lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

#bw-button:hover,
#bw-button.active-filter {
  color: white;
  background-color: slategray; }

#color-button {
  color: black;
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

#color-button:hover,
#color-button.active-filter {
  color: white;
  background-color: slategray; }

body {
  background-color: white;
  font-family: 'Roboto', sans-serif; }

.page-header {
  border: none; }

.page-head .heading {
  color: white;
  background-color: slategray;
  border-radius: 10px; }

.page-head div {
  height: 60px;
  line-height: 60px;
  text-align: center; }

.page-head .logout-div {
  padding-left: 40px; }

.page-head #logout-link {
  padding: 5px 10px;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  background-color: lightgray;
  border-radius: 10px; }

.page-head #logout-link:hover {
  color: white;
  background-color: slategray;
  text-decoration: none; }

.new-item {
  padding: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white; }

.list-headers {
  font-weight: bold;
  height: 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  background-color: black; }

.type-header,
.rec-header {
  padding-left: 18px; }

.name-header {
  padding-left: 24px; }

.list-item {
  padding: 10px 10px 6px;
  border: 1px solid white;
  border-bottom: none; }
  .list-item input,
  .list-item select {
    border: none;
    height: 20px; }
  .list-item select {
    position: relative;
    top: -1px;
    left: -8px; }
  .list-item input:focus,
  .list-item select:focus {
    outline: none; }

.spreadsheet .row:last-of-type {
  border-bottom: 1px solid white; }

.finished-column {
  width: 10px;
  padding-left: 5px; }
  .finished-column input {
    margin-top: 0; }

.notes-column,
.notes-header {
  width: 400px; }

#new-name {
  width: 250px; }

#new-notes {
  width: 370px; }

.sort-link:hover {
  text-decoration: underline; }

.active-sort {
  text-decoration: underline; }

#name-input {
  position: relative;
  left: 20px;
  width: 90%; }

#recommended-input {
  position: relative;
  left: 17px; }

.notes-div {
  margin-right: 0; }

#notes-input {
  position: relative;
  left: 19px;
  width: 80%; }

#type-select {
  position: relative;
  left: 10px;
  border: none;
  margin-top: 3px; }

.usage-tip {
  margin: 0;
  padding: 0;
  width: 250px; }

.del-button {
  width: 5%;
  float: right;
  padding-right: 0;
  color: white;
  -webkit-text-stroke: 1px gray; }
  .del-button span:hover {
    color: gray; }

.right {
  text-align: right; }

.hand {
  cursor: pointer; }
