h3 {
  text-align: center; }

.list-headers,
.list-item,
.new-item {
  margin: 0 5px;
  padding: 10px; }

.list-headers {
  font-weight: bold; }

.list-item,
.new-item {
  border: 1px dashed royalblue; }

.del-button {
  text-align: right; }
