#login-page {
  margin-top: 10%;
  text-align: center; }
  #login-page .login-label {
    text-align: right;
    height: 40px;
    line-height: 40px; }
  #login-page .login-button {
    text-align: center; }
  #login-page #email-input,
  #login-page #pword-input {
    width: 100%;
    padding: 5px; }

#all-filter {
  background-color: #F26161; }

#all-filter:hover {
  background-color: #D53350; }

#movie-filter {
  background-color: #F8A96F; }

#movie-filter:hover {
  background-color: #F48340; }

#show-filter {
  background-color: #FBDEEB; }

#show-filter:hover {
  background-color: #F390BC; }

#music-filter {
  background-color: #C4E5D4; }

#music-filter:hover {
  background-color: #4FC0A1; }

#book-filter {
  background-color: #C5DEF3; }

#book-filter:hover {
  background-color: #178FBF; }

#game-filter {
  background-color: #CFD2E9; }

#game-filter:hover {
  background-color: #A57AB4; }

.list-filters,
.media-filters {
  text-align: center; }
  .list-filters div,
  .media-filters div {
    border: 1px dashed royalblue;
    height: 40px;
    line-height: 40px; }

.media-filters {
  font-weight: bold;
  margin-bottom: 30px; }

.media-filters div:hover {
  color: white; }

.media-filters .active {
  color: white; }

.page-head div {
  height: 60px;
  line-height: 60px;
  text-align: center; }

.list-headers,
.new-item {
  padding: 10px; }

.list-headers {
  font-weight: bold; }

.list-item {
  padding: 10px; }

.list-item:nth-child(even) {
  background-color: #f2efe8; }

#name-input,
#type-select,
#notes-input,
#recommended-input,
.usage-tip {
  width: 100%; }

.right {
  text-align: right; }

.hand {
  cursor: pointer; }
