// ~~~ COLOR THEME ~~~
// Media Filter Buttons
.color-theme {
	#all-filter {
		background-color: $red-dark;
	}
	#all-filter:hover,
	#all-filter.active-filter {
		background-color: $red-light;
	}

	#movie-filter {
		background-color: $orange-dark;
	}
	#movie-filter:hover,
	#movie-filter.active-filter {
		background-color: $orange-light;
	}

	#show-filter {
		background-color: $pink-dark;
	}
	#show-filter:hover,
	#show-filter.active-filter {
		background-color: $pink-light;
	}

	#music-filter {
		background-color: $green-dark;
	}
	#music-filter:hover,
	#music-filter.active-filter {
		background-color: $green-light;
	}

	#book-filter {
		background-color: $blue-dark;
	}
	#book-filter:hover,
	#book-filter.active-filter {
		background-color: $blue-light;
	}

	#game-filter {
		background-color: $purple-dark;
	}
	#game-filter:hover,
	#game-filter.active-filter {
		background-color: $purple-light;
	}
} // END COLOR THEME


// ~~~ GRAY THEME ~~~
// Media Filter Buttons
.gray-theme {
	#all-filter,
	#movie-filter,
	#show-filter,
	#music-filter,
	#book-filter,
	#game-filter {
		background-color: slategray;
	}
	#all-filter:hover,
	#movie-filter:hover,
	#show-filter:hover,
	#music-filter:hover,
	#book-filter:hover,
	#game-filter:hover,
	#all-filter.active-filter,
	#movie-filter.active-filter,
	#show-filter.active-filter,
	#music-filter.active-filter,
	#book-filter.active-filter,
	#game-filter.active-filter {
		background-color: lightgray;
	}
} // END GRAY THEME


