@import 'colors';
@import 'login';
@import 'filter-buttons';

body {
	// font-size: 1.3em;
	// background-color: lightgray;
	background-color: $bluish;
}

.page-header {
	border: none;
}

.page-header {
	div {
		// background-color: green;
	}
}

// .page-head {
// 	background-color: green;
// }

.page-head {
	div {
		// border: 1px dashed royalblue;
		height: 60px;
		line-height: 60px;
		text-align: center;
		// background-color: red;
	}
}

.list-headers,
.new-item {
	// margin: 0 5px;
	padding: 10px;
}

.list-headers {
	font-weight: bold;
	// height: 30px;
	// line-height: 30px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	background-color: white;
}

.list-item {
	// padding: 10px;
	padding: 10px 10px 6px;
	border: 1px solid white;
	border-bottom: none;
	// line-height: 20px;
	// vertical-align: middle;
	input,
	select {
		border: none;
		height: 20px;
	}
	select {
		position: relative;
		left: -10px;
	}
	input:focus,
	select:focus {
		outline: none;
	}
}

// .data-cell {
// 	vertical-align: middle; // NOT THIS!
// }

.spreadsheet {
	.row:last-of-type {
		border-bottom: 1px solid white;
	}
}

.finished-column {
	width: 10px;
	padding-left: 5px;
	input {
		margin-top: 0;
	}
}

.notes-column,
.notes-header {
	width: 400px;
}

.list-item:nth-child(even) {
	background-color: $light;
}

.list-item:nth-child(odd) {
	background-color: $greenish;
}

#name-input {
	position: relative;
	left: 20px;
	width: 90%;
}

#recommended-input {
	position: relative;
	left: 17px;
	// width: 100%;
}

.notes-div {
	margin-right: 0;
}

#notes-input {
	position: relative;
	left: 19px;
	width: 80%;
}

#type-select {
	position: relative;
	left: 10px;
	border: none;
	margin-top: 3px;
	// height: 20px;
}

.usage-tip {
	// width: 100%;
	// font-size: 0.9em;
	margin: 0;
	padding: 0;
	width: 250px;
}

.del-button {
	width: 5%;
	float: right;
}

.right {
	text-align: right;
}

.hand {
    cursor: pointer;
}



