$purplish: #b0aac2;
$light: #f2efe8;
$bluish: #c2d4d8;
$greenish: #dbe9d8;

$grayish: #ebebeb;

$color-primary-0: #605085;
$color-primary-1: #9F96B6;
$color-primary-2: #7D6F9B;
$color-primary-3: #493872;
$color-primary-4: #36255F;

$color-secondary-1-0: #94527F;
$color-secondary-1-1: #C8A1BB;
$color-secondary-1-2: #AD769B;
$color-secondary-1-3: #7F3767;
$color-secondary-1-4: #6A2152;

$color-secondary-2-0: #A1B766;
$color-secondary-2-1: #E5F2C2;
$color-secondary-2-2: #C3D692;
$color-secondary-2-3: #849D44;
$color-secondary-2-4: #6A8329;

$color-complement-0: #C2B56C;
$color-complement-1: #FFF8CD;
$color-complement-2: #E3D89B;
$color-complement-3: #A69848;
$color-complement-4: #8B7D2C;


// TEST STYLES

// html,
// body {
// 	// font-size: 1.3em;
// 	// background-color: $color-complement-2;
// 	// color: $light;
// }

body {
	font-size: 1.3em;
}

// .row {
// 	// padding: 0;
// 	div {
// 		border: 1px dashed royalblue;	
// 	}
// }

.list-item {
	padding: 10px;
}

.list-item:nth-child(even) {
	// background-color: $grayish;
	// background-color: $greenish;
	// background-color: $bluish;
	background-color: $light;
}

.list-item,
.new-item {
	border: 1px dashed royalblue;
}

// END TEST STYLES

#login-page {
	margin-top: 10%;
	text-align: center;
	.filler {
		// border: 1px dashed royalblue;
		// height: 30px;
	}
	.login-label {
		text-align: right;
		// border: 1px dashed royalblue;
		height: 40px;
		line-height: 40px;
	}
	.login-button {
		// line-height: 40px;
		text-align: center;
	}
	#email-input,
	#pword-input {
		// border: 1px dashed royalblue;
		width: 100%;
		// height: 40px;
		padding: 5px;
		// line-height: 30px;
	}
}

.page-head {
	div {
		// border: 1px dashed royalblue;
		height: 60px;
		line-height: 60px;
		text-align: center;
	}
}

.list-filters,
.media-filters {
	text-align: center;
	div {
		border: 1px dashed royalblue;
		height: 40px;
		line-height: 40px;
	}
}

.media-filters {
	margin-bottom: 30px;
}

.list-headers,
.new-item {
	// margin: 0 5px;
	padding: 10px;
}

.list-headers {
	font-weight: bold;
}

.del-button,
.right {
	text-align: right;
}

.hand {
    cursor: pointer;
}

#name-input,
#type-select,
#notes-input,
#recommended-input,
.usage-tip {
	width: 100%;
}