@import 'colors';
@import 'login';
@import 'filter-buttons';

body {
	// font-size: 1.3em;
	// background-color: lightgray;
	background-color: $bluish;
}

.page-header {
	border: none;
}

.page-header {
	div {
		// background-color: green;
	}
}

// .page-head {
// 	background-color: green;
// }

.page-head {
	div {
		// border: 1px dashed royalblue;
		height: 60px;
		line-height: 60px;
		text-align: center;
		// background-color: red;
	}
}

.list-headers,
.new-item {
	// margin: 0 5px;
	padding: 10px;
}

.list-headers {
	font-weight: bold;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.list-item {
	padding: 10px;
	border: 1px solid white;
	border-bottom: none;
	input,
	select {
		border: none;
		height: 20px;
	}
	select {
		position: relative;
		left: -10px;
	}
	input:focus,
	select:focus {
		outline: none;
	}
}

.spreadsheet {
	.row:last-of-type {
		border-bottom: 1px solid white;
	}
}

.list-item:nth-child(even) {
	background-color: $light;
}

.list-item:nth-child(odd) {
	background-color: $greenish;
}

#name-input,
#type-select,
#notes-input,
#recommended-input,
.usage-tip {
	width: 100%;
}

.right {
	text-align: right;
}

.hand {
    cursor: pointer;
}



