
<div class="container" ng-init="selectedFilters.finished = false"> <!-- Filter to show only Backlog on page load -->

	<!-- Filter rows -->
	<div class="row list-filters">
		<div class="col-md-6 hand" ng-click="selectedFilters.finished = false">Backlog</div>
		<div class="col-md-6 hand" ng-click="selectedFilters.finished = true">Finished</div>
	</div>
	
	<div class="row media-filters">
		<div class="col-md-2 hand" ng-click="selectedFilters.type = ''">All</div>
		<div class="col-md-2 hand" ng-click="selectedFilters.type = 'movie'">Movies</div>
		<div class="col-md-2 hand" ng-click="selectedFilters.type = 'show'">TV Shows</div>
		<div class="col-md-2 hand" ng-click="selectedFilters.type = 'music'">Music</div>
		<div class="col-md-2 hand" ng-click="selectedFilters.type = 'book'">Books</div>
		<div class="col-md-2 hand" ng-click="selectedFilters.type = 'game'">Video Games</div>
	</div>
	<!-- END Filter rows -->

	<div class="row list-headers">
		<div class="col-md-2">Name</div>
		<div class="col-md-1">Type</div>
		<div class="col-md-2">Recommended By</div>
		<div class="col-md-4">Notes</div>
		<div class="col-md-1">Added</div>
		<div class="col-md-1">Rating</div>
		<div class="col-md-1"></div> <!-- "Delete" column -->
	</div> <!-- END Headings row -->

	<div class="row list-item" ng-repeat="item in localCopy | filter: selectedFilters | orderBy: 'date'">
		<!-- Name Column -->
		<div class="col-md-2">
			<span ng-click="editName = !editName; editMode('name')" ng-hide="editName">{{ item.name }}</span>
			<input ng-show="editName" focus-on-show type="text" id="new-name" ng-model="editProp.name" ng-enter="editProperty('name', editProp.name)">
		</div>

		<div class="col-md-1">{{ item.type }}</div>
		<div class="col-md-2">{{ item.recommended }}</div>
		<div class="col-md-4">{{ item.notes }}</div>
		<div class="col-md-1">{{ item.date | date:'MM/dd/yyyy'}}</div>
		<div class="col-md-1">{{ item.rating }}</div>
		<div class="col-md-1 del-button"><span class="glyphicon glyphicon-remove hand" ng-click="deleteItem()"></span></div>
	</div> <!-- END ng-repeat .list-item -->

	<div class="row new-item">
		<div class="col-md-2">
			<input type="text" id="name-input" ng-model="newItem.name" placeholder="Name" id="name-field">
		</div>
		<div class="col-md-1">
			<select name="typeSelect" id="type-select" ng-model="newItem.type">
				<option value="" disabled ng-selected="true" disabled>Type</option>
				<option value="movie">Movie</option>
				<option value="show">TV Show</option>
				<option value="music">Music</option>
				<option value="book">Book</option>
				<option value="game">Game</option>
			</select>
		</div>
		<div class="col-md-2">
			<input type="text" id="recommended-input" ng-model="newItem.recommended" placeholder="Recommended By">
		</div>
		<div class="col-md-4">
			<input type="text" id="notes-input" ng-model="newItem.notes" ng-enter="addNewItem()" ng-esc="cancelAdd()" placeholder="Notes">
		</div>
		<div class="col-md-3">
			<span ng-show="!newItem.notes" class="usage-tip"></span>
			<span ng-show="newItem.notes" class="usage-tip">Press Enter to Save or Esc to Cancel</span>
		</div> <!-- in place of Added, Rating, Delete columns -->

	</div> <!-- END .new-item -->

</div> <!-- END .container -->

