
<div class="container">

	<div class="row list-headers">
		<div class="col-md-2">Name</div>
		<div class="col-md-1">Type</div>
		<div class="col-md-2">Recommended By</div>
		<div class="col-md-4">Notes</div>
		<div class="col-md-1">Added</div>
		<div class="col-md-1">Rating</div>
		<div class="col-md-1"></div> <!-- "Delete" column -->
	</div> <!-- END Headings row -->

	<div class="row list-item" ng-repeat="item in localCopy | orderBy: 'date'">
		<div class="col-md-2">{{ item.name }}</div>
		<div class="col-md-1">{{ item.type }}</div>
		<div class="col-md-2">{{ item.recommended }}</div>
		<div class="col-md-4">{{ item.notes }}</div>
		<div class="col-md-1">{{ item.date }}</div>
		<div class="col-md-1">{{ item.rating }}</div>
		<div class="col-md-1 del-button"><span class="glyphicon glyphicon-remove hand" ng-click="deleteItem()"></span></div>
	</div> <!-- END ng-repeat .list-item -->

	<div class="row new-item">
		<div class="col-md-2">
			<input type="text" ng-model="newItem.name" placeholder="Name" id="name-field">
		</div>
		<div class="col-md-1">
			<input type="text" ng-model="newItem.type" placeholder="Type">
		</div>
		<div class="col-md-2">
			<input type="text" ng-model="newItem.recommended" placeholder="Recommended By">
		</div>
		<div class="col-md-4">
			<input type="text" ng-model="newItem.notes" ng-enter="addNewItem()" placeholder="Notes">
		</div>
		<div class="col-md-3">
			<span ng-show="!newItem.notes"></span>
			<span ng-show="newItem.notes">Press Enter to Save or Esc to Cancel</span>
		</div> <!-- in place of Added, Rating, Delete columns -->

	</div> <!-- END .new-item -->

</div> <!-- END .container -->

